<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
